@import "../../../shared//styles/common.scss";

.favorite-items {
  padding: 45px 30px;
}

.favorite-title {
  font-family: "Anek Telugu";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #414141;
}

.favorite-wrap {
  // width: 347px;
  // height: 130px;
  display: flex;
  padding: 11px 15px;
}

.favorite-item-image {
  border-radius: 30px;
}

.favorite-item-img {
  display: block;
  max-width: 108px;
  border-radius: 30px;
}

.favorite-item-description {
  width: 100%;
  margin-left: 20px;
}

.favorite-item-title {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: #414141;
}

.favorite-item-text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;

  color: #414141;
}

.favorite-item-block {
  display: flex;
  justify-content: space-between;
}
