@import "../../shared/styles/common.scss";

.container {
  height: 100px;
  background-color: #ffcc26;
  border-bottom: 1px solid #414141;
}

.navigation {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100px;
}

.link {
  margin-right: 91px;

  font-family: "Anek Telugu", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: #414141;
}
